* {
    box-sizing: border-box; /* Ensure precise box sizing */
}

body {
    font-family: Inconsolata;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 20px;
}

#container {
    display: flex; /* Arrange filter and table in a row */
}

#filterContainer {
    margin-right: 20px; /* Space between filter and table */
    flex-shrink: 0; /* Prevent shrink */
}

#filterMenu {
    margin-bottom: 20px; /* Space below filter menu */
}

.checkbox-group {
    display: flex; /* Flex for the group */
    flex-direction: column; /* Stack vertically */
}

label {
    margin: 5px 0; /* Spacing between labels */
}

table {
    width: 70%;
    table-layout: fixed;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #555;
    width: 25%;
}

th {
    background-color: #444;
}

.expandable-row {
    background-color: #006400;
    color: #fff;
}

.expandable-row:hover {
    background-color: #008000;
}

.detail-row {
    background-color: #555;
    font-style: italic;
}

#searchBar {
    width: 100%; /* Full width for the search bar */
    padding: 10px;
    display: block;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 4px; /* Rounded edges */
}

#toggleFilterBtn {
    margin-bottom: 10px; /* Spacing below */
    padding: 10px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
}

#toggleFilterBtn:hover {
    background-color: #555;
}

.checkbox-group label {
    margin: 5px 0; /* Spacing between labels */
    font-size: 18px; /* Adjust font size here */
}
